<div id="container">

    <section id="entete"> 
        <span>Calcul IRI</span>

        <fa-icon [icon]="faCircleQuestion"></fa-icon>

    </section>

    <section id="corps"> 
        <span id="titre">Revenu annuel</span>
        <span id="description"> Le montant que vous gagnez sur une base annuelle. </span>
        <section>
            <input type="number" min="0" step="0.01" [(ngModel)]="montant" id="" >
            <label> gourdes. </label>
        </section>
        <input type="range" min="0" max="9000000000" [(ngModel)]="montant" id="range">
    </section>
    <hr> 
    <section id="resultat"> 
        <span>IRI à verser</span>
        <section>
            <span> 22,520 </span>
            <label> gourdes.</label>
        </section>
    </section>
    
</div>