#container{
    margin-top: -22px;
    width: 60vw;
    height: 80vh;
    background-color: rgba(238, 238, 238, 0.966);
}
#entete>span{
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}
#entete{
    padding: 20px;
    background-color: #142154;
    color: white;
}
#corps{
    display: flex;
    flex-direction: column;
    padding: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#corps>#titre{
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 10px;
}
#corps>#description{
    font-size: 12px;
    margin-bottom: 15px;
}
#range{
    width: 50%;
}