<div id="container">

    <section id="entete"> 
        <span>Calcul IRI</span>

        <fa-icon [icon]="faCircleQuestion"></fa-icon>

    </section>

    <section id="corps"> 
        <span>Revenu annuel</span>
        <span> le montant que vous gagnez sur une base annuelle </span>
        <section>
            <input type="number" name="" id="">
            <label> gourdes. </label>
        </section>
        <input type="range" name="" id="">
    </section>
    <hr> 
    <section id="resultat"> 
        <span>IRI à verser</span>
        <section>
            <span> 22,520 </span>
            <label> gourdes.</label>
        </section>
    </section>
    
</div>